 
{% block interests %}
    <!-- ======= Интересы ======= -->
    <div class="interests container">

      <div class="section-title">
        <h2>Увлечения</h2>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-4">
          <div class="icon-box">
            <i class="ri-file-code-line" style="color: #ce3737;"></i>
            <h3>Алгебра</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="ri-book-mark-line" style="color: #d38237;"></i>
            <h3>Геометрия</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="ri-boxing-line" style="color: #ddbb4c;"></i>
            <h3>Веб-дизайн</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="ri-terminal-box-line" style="color: #b12b2b;"></i>
            <h3>Физика</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-database-2-line" style="color: #d38237;"></i>
            <h3>Информатика</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-hammer-line" style="color: #ddbb4c;"></i>
            <h3>Английский</h3>
          </div>
        </div>
      </div>
    </div><!-- конец раздела -->
  </section><!-- конец секции Резюме -->
{% endblock %}  